@font-face {
    font-family: "mplus";
    src: url("/font/mplus/mplus.ttf") format("truetype");;
}

html, body {
	position: relative;
	width: 100%;
}

html {
    font-family: "mplus", sans-serif;
    background-color: rgb(240, 240, 240);
    color: black;
    text-align: center;
    height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	padding-bottom: 150px !important;
}

separator {
	display: block;
	width: 80%;
	height: 2px;
	background-color: rgb(255, 133, 62);
	margin: 50px auto;
}

a {
    color:white;
}

a:hover {
    color: rgb(255, 200, 178)
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
